<h1>Listing questions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Views</th>
    <th>User</th>
    <th>Guest</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.title %></td>
    <td><%= question.description %></td>
    <td><%= question.views %></td>
    <td><%= question.user_id %></td>
    <td><%= question.guest_id %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>

<link rel="canonical" href="http://192.168.11.235:3000" />
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      {"parsetags": "explicit"}
    </script>
    <div id="content">
      <g:plusone callback="plusone_callback" href="http://localhost"></g:plusone>

    </div>
    <script type="text/javascript">
      gapi.plusone.go("content");
    </script>
