<%= form_for(@tag) do |f| %>
  <div class="field">
    <span class="label_for"><span class="red">*</span><%= f.label :title, "Title:" %></span>
    <span class="label_field"><%= f.text_field :title %></span>
    <div class="error_span"><%= "Title"+" "+ @tag.errors.messages[:title][0] if not @tag.errors.messages[:title][0].nil?%></div>
  </div>
  <div class="field">
    <span class="label_for"><span class="red label_for_desc">*</span><%= f.label :description, "Description:", :class => "label_for_desc" %></span>
    <span class="label_field"><%= f.text_area :description, :rows => "2", :cols => "39" %></span>
    <div class="error_span label_for_desc"><%= "Description"+" "+ @tag.errors.messages[:description][0] if not @tag.errors.messages[:description][0].nil?%></div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
